In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv(r"fulldata.csv")

In [ ]:
data

,Unnamed: 0,name,Timestamp,End date,Time,Year,Month,Day,Weekend,PM2.5 (µg/m³),...,Benzene (µg/m³),Toluene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),TOT-RF (mm),SR (W/mt2),BP (mmHg),Season
0,0,bangalore,01/01/2019 00:00,2019-01-01,00:00:00,2019,1,2,0,67.00,...,0.100000,0.550000,18.050000,66.25,NaN,78.750000,NaN,NaN,722.00,Winter
1,1,bangalore,01/01/2019 01:00,2019-01-01,01:00:00,2019,1,2,0,72.00,...,0.100000,0.500000,18.920000,70.75,NaN,78.250000,NaN,NaN,722.00,Winter
2,2,bangalore,01/01/2019 02:00,2019-01-01,02:00:00,2019,1,2,0,73.75,...,0.100000,0.450000,18.330000,74.50,NaN,86.000000,NaN,NaN,721.00,Winter
3,3,bangalore,01/01/2019 03:00,2019-01-01,03:00:00,2019,1,2,0,64.50,...,0.100000,0.400000,17.770000,78.75,NaN,86.750000,NaN,NaN,721.00,Winter
4,4,bangalore,01/01/2019 04:00,2019-01-01,04:00:00,2019,1,2,0,77.75,...,0.100000,0.380000,17.650000,81.50,NaN,83.750000,NaN,NaN,721.75,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175291,175291,delhi,31/12/2023 19:00,2023-12-31,19:00:00,2023,12,7,1,217.25,...,2.300000,27.925000,11.800000,80.75,0.775,41.500000,0.0,5.0,742.00,Winter
175292,175292,delhi,31/12/2023 20:00,2023-12-31,20:00:00,2023,12,7,1,185.25,...,2.325000,15.375000,11.750000,80.75,0.725,38.250000,0.0,5.0,742.00,Winter
175293,175293,delhi,31/12/2023 21:00,2023-12-31,21:00:00,2023,12,7,1,167.25,...,2.450000,6.900000,11.650000,80.25,0.475,71.250000,0.0,5.0,742.00,Winter
175294,175294,delhi,31/12/2023 22:00,2023-12-31,22:00:00,2023,12,7,1,163.25,...,2.475000,6.250000,11.450000,81.00,0.400,43.250000,0.0,5.0,742.00,Winter
175295,175295,delhi,31/12/2023 23:00,2023-12-31,23:00:00,2023,12,7,1,158.00,...,2.166667,4.833333,11.466667,81.00,0.300,17.666667,0.0,5.0,742.00,Winter

In [ ]:
data = data.drop('Unnamed: 0', axis= 1)

In [ ]:
data

,name,Timestamp,End date,Time,Year,Month,Day,Weekend,PM2.5 (µg/m³),PM10 (µg/m³),...,Benzene (µg/m³),Toluene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),TOT-RF (mm),SR (W/mt2),BP (mmHg),Season
0,bangalore,01/01/2019 00:00,2019-01-01,00:00:00,2019,1,2,0,67.00,132.00,...,0.100000,0.550000,18.050000,66.25,NaN,78.750000,NaN,NaN,722.00,Winter
1,bangalore,01/01/2019 01:00,2019-01-01,01:00:00,2019,1,2,0,72.00,120.25,...,0.100000,0.500000,18.920000,70.75,NaN,78.250000,NaN,NaN,722.00,Winter
2,bangalore,01/01/2019 02:00,2019-01-01,02:00:00,2019,1,2,0,73.75,115.75,...,0.100000,0.450000,18.330000,74.50,NaN,86.000000,NaN,NaN,721.00,Winter
3,bangalore,01/01/2019 03:00,2019-01-01,03:00:00,2019,1,2,0,64.50,100.00,...,0.100000,0.400000,17.770000,78.75,NaN,86.750000,NaN,NaN,721.00,Winter
4,bangalore,01/01/2019 04:00,2019-01-01,04:00:00,2019,1,2,0,77.75,100.50,...,0.100000,0.380000,17.650000,81.50,NaN,83.750000,NaN,NaN,721.75,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175291,delhi,31/12/2023 19:00,2023-12-31,19:00:00,2023,12,7,1,217.25,319.50,...,2.300000,27.925000,11.800000,80.75,0.775,41.500000,0.0,5.0,742.00,Winter
175292,delhi,31/12/2023 20:00,2023-12-31,20:00:00,2023,12,7,1,185.25,275.50,...,2.325000,15.375000,11.750000,80.75,0.725,38.250000,0.0,5.0,742.00,Winter
175293,delhi,31/12/2023 21:00,2023-12-31,21:00:00,2023,12,7,1,167.25,260.75,...,2.450000,6.900000,11.650000,80.25,0.475,71.250000,0.0,5.0,742.00,Winter
175294,delhi,31/12/2023 22:00,2023-12-31,22:00:00,2023,12,7,1,163.25,249.00,...,2.475000,6.250000,11.450000,81.00,0.400,43.250000,0.0,5.0,742.00,Winter
175295,delhi,31/12/2023 23:00,2023-12-31,23:00:00,2023,12,7,1,158.00,252.00,...,2.166667,4.833333,11.466667,81.00,0.300,17.666667,0.0,5.0,742.00,Winter

In [ ]:
data.columns

Index(['name', 'Timestamp', 'End date', 'Time', 'Year', 'Month', 'Day',
       'Weekend', 'PM2.5 (µg/m³)', 'PM10 (µg/m³)', 'NO (µg/m³)', 'NO2 (µg/m³)',
       'NOx (ppb)', 'NH3 (µg/m³)', 'SO2 (µg/m³)', 'CO (mg/m³)',
       'Ozone (µg/m³)', 'Benzene (µg/m³)', 'Toluene (µg/m³)', 'AT (°C)',
       'RH (%)', 'WS (m/s)', 'WD (deg)', 'TOT-RF (mm)', 'SR (W/mt2)',
       'BP (mmHg)', 'Season'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175296 entries, 0 to 175295
Data columns (total 27 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   name             175296 non-null  object
 1   Timestamp        175296 non-null  object
 2   End date         175296 non-null  object
 3   Time             175296 non-null  object
 4   Year             175296 non-null  int64
 5   Month            175296 non-null  int64
 6   Day              175296 non-null  int64
 7   Weekend          175296 non-null  int64
 8   PM2.5 (µg/m³)    158205 non-null  float64
 9   PM10 (µg/m³)     158132 non-null  float64
 10  NO (µg/m³)       155780 non-null  float64
 11  NO2 (µg/m³)      156642 non-null  float64
 12  NOx (ppb)        158662 non-null  float64
 13  NH3 (µg/m³)      151053 non-null  float64
 14  SO2 (µg/m³)      156918 non-null  float64
 15  CO (mg/m³)       157374 non-null  float64
 16  Ozone (µg/m³)    161303 non-null  float64
 17  Benzene (µg/m³)  149555 non-null  float64
 18  Toluene (µg/m³)  145424 non-null  float64
 19  AT (°C)          131015 non-null  float64
 20  RH (%)           161303 non-null  float64
 21  WS (m/s)         123007 non-null  float64
 22  WD (deg)         160307 non-null  float64
 23  TOT-RF (mm)      131472 non-null  float64
 24  SR (W/mt2)       120600 non-null  float64
 25  BP (mmHg)        128166 non-null  float64
 26  Season           175296 non-null  object
dtypes: float64(18), int64(4), object(5)
memory usage: 36.1+ MB

In [ ]:
import pandas as pd
from sklearn.impute import KNNImputer



# Select columns with missing values for imputation
cols_to_impute = ['PM2.5 (µg/m³)', 'PM10 (µg/m³)', 'NO (µg/m³)', 'NO2 (µg/m³)',
       'NOx (ppb)', 'NH3 (µg/m³)', 'SO2 (µg/m³)', 'CO (mg/m³)',
       'Ozone (µg/m³)', 'Benzene (µg/m³)', 'Toluene (µg/m³)', 'AT (°C)',
       'RH (%)', 'WS (m/s)', 'WD (deg)', 'TOT-RF (mm)', 'SR (W/mt2)',
       'BP (mmHg)']

# Initialize KNNImputer
imputer = KNNImputer(n_neighbors=5)  # You can adjust the number of neighbors as needed

# Fit and transform the imputer on selected columns
imputed_values = imputer.fit_transform(data[cols_to_impute])

# Create a dataframe from the imputed values
imputed_df = pd.DataFrame(imputed_values, columns=cols_to_impute, index=data.index)

# Replace the missing values in the original dataframe with the imputed values
data[cols_to_impute] = imputed_df

# Now you have the original dataframe with missing values imputed
print(data.head())

        name         Timestamp    End date      Time  Year  Month  Day  \
0  bangalore  01/01/2019 00:00  2019-01-01  00:00:00  2019      1    2
1  bangalore  01/01/2019 01:00  2019-01-01  01:00:00  2019      1    2
2  bangalore  01/01/2019 02:00  2019-01-01  02:00:00  2019      1    2
3  bangalore  01/01/2019 03:00  2019-01-01  03:00:00  2019      1    2
4  bangalore  01/01/2019 04:00  2019-01-01  04:00:00  2019      1    2

   Weekend  PM2.5 (µg/m³)  PM10 (µg/m³)  ...  Benzene (µg/m³)  \
0        0          67.00        132.00  ...              0.1
1        0          72.00        120.25  ...              0.1
2        0          73.75        115.75  ...              0.1
3        0          64.50        100.00  ...              0.1
4        0          77.75        100.50  ...              0.1

   Toluene (µg/m³)  AT (°C)  RH (%)  WS (m/s)  WD (deg)  TOT-RF (mm)  \
0             0.55    18.05   66.25     1.372     78.75          0.0
1             0.50    18.92   70.75     0.902     78.25          0.0
2             0.45    18.33   74.50     0.418     86.00          0.0
3             0.40    17.77   78.75     0.466     86.75          0.0
4             0.38    17.65   81.50     0.434     83.75          0.0

   SR (W/mt2)  BP (mmHg)  Season
0      312.95     722.00  Winter
1      281.47     722.00  Winter
2      179.56     721.00  Winter
3      172.67     721.00  Winter
4      174.76     721.75  Winter

[5 rows x 27 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175296 entries, 0 to 175295
Data columns (total 27 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   name             175296 non-null  object
 1   Timestamp        175296 non-null  object
 2   End date         175296 non-null  object
 3   Time             175296 non-null  object
 4   Year             175296 non-null  int64
 5   Month            175296 non-null  int64
 6   Day              175296 non-null  int64
 7   Weekend          175296 non-null  int64
 8   PM2.5 (µg/m³)    175296 non-null  float64
 9   PM10 (µg/m³)     175296 non-null  float64
 10  NO (µg/m³)       175296 non-null  float64
 11  NO2 (µg/m³)      175296 non-null  float64
 12  NOx (ppb)        175296 non-null  float64
 13  NH3 (µg/m³)      175296 non-null  float64
 14  SO2 (µg/m³)      175296 non-null  float64
 15  CO (mg/m³)       175296 non-null  float64
 16  Ozone (µg/m³)    175296 non-null  float64
 17  Benzene (µg/m³)  175296 non-null  float64
 18  Toluene (µg/m³)  175296 non-null  float64
 19  AT (°C)          175296 non-null  float64
 20  RH (%)           175296 non-null  float64
 21  WS (m/s)         175296 non-null  float64
 22  WD (deg)         175296 non-null  float64
 23  TOT-RF (mm)      175296 non-null  float64
 24  SR (W/mt2)       175296 non-null  float64
 25  BP (mmHg)        175296 non-null  float64
 26  Season           175296 non-null  object
dtypes: float64(18), int64(4), object(5)
memory usage: 36.1+ MB

In [ ]:
data.to_csv(r"dataknn.csv", index= False)

In [ ]:
data_interpolated = data.copy()

In [ ]:
# Calculate quartiles and IQR
Q1 = data_interpolated['CO (mg/m³)'].quantile(0.25)
Q3 = data_interpolated['CO (mg/m³)'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outlier detection
lower_bound = Q1 - 3 * IQR
upper_bound = Q3 + 3 * IQR

# Identify outliers
outliers = data_interpolated['CO (mg/m³)'][(data_interpolated['CO (mg/m³)']< lower_bound) | data_interpolated['CO (mg/m³)'] > upper_bound]

print("Outliers detected using IQR method:")
print(outliers)

Outliers detected using IQR method:
Series([], Name: CO (mg/m³), dtype: float64)

In [ ]:
df = data_interpolated.copy()

In [ ]:
df["PM10_24hr_avg"] = df.groupby("name")["PM10 (µg/m³)"].rolling(window = 24, min_periods = 16).mean().values
df["PM2.5_24hr_avg"] = df.groupby("name")["PM2.5 (µg/m³)"].rolling(window = 24, min_periods = 16).mean().values
df["SO2_24hr_avg"] = df.groupby("name")["SO2 (µg/m³)"].rolling(window = 24, min_periods = 16).mean().values
df["NO2_24hr_avg"] = df.groupby("name")["NO2 (µg/m³)"].rolling(window = 24, min_periods = 16).mean().values
df["CO_8hr_max"] = df.groupby("name")["CO (mg/m³)"].rolling(window = 8, min_periods = 1).max().values
df["O3_8hr_max"] = df.groupby("name")["Ozone (µg/m³)"].rolling(window = 8, min_periods = 1).max().values
df["NH3_24hr_avg"] = df.groupby("name")['NH3 (µg/m³)'].rolling(window = 24, min_periods = 16).mean().values

In [ ]:
aqi22 = df.copy()

In [ ]:
## PM2.5 Sub-Index calculation
def get_PM25_subindex(x):
    if x <= 30:
        return x * 50 / 30
    elif x <= 60:
        return 50 + (x - 30) * 50 / 30
    elif x <= 90:
        return 100 + (x - 60) * 100 / 30
    elif x <= 120:
        return 200 + (x - 90) * 100 / 30
    elif x <= 250:
        return 300 + (x - 120) * 100 / 130
    elif x > 250:
        return 400 + (x - 250) * 100 / 130
    else:
        return 0

aqi22["PM2.5_SubIndex"] = aqi22['PM2.5_24hr_avg'].apply(lambda x: get_PM25_subindex(x))

In [ ]:
## PM10 Sub-Index calculation
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

aqi22["PM10_SubIndex"] = aqi22['PM10_24hr_avg'].apply(lambda x: get_PM10_subindex(x))

In [ ]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

aqi22["SO2_SubIndex"] = aqi22['SO2_24hr_avg'].apply(lambda x: get_SO2_subindex(x))

In [ ]:
## NOx Sub-Index calculation
def get_NO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

aqi22["NO2_SubIndex"] = aqi22['NO2_24hr_avg'].apply(lambda x: get_NO2_subindex(x))

In [ ]:
## CO Sub-Index calculation
def get_CO_subindex(x):
    if x <= 1:
        return x * 50 / 1
    elif x <= 2:
        return 50 + (x - 1) * 50 / 1
    elif x <= 10:
        return 100 + (x - 2) * 100 / 8
    elif x <= 17:
        return 200 + (x - 10) * 100 / 7
    elif x <= 34:
        return 300 + (x - 17) * 100 / 17
    elif x > 34:
        return 400 + (x - 34) * 100 / 17
    else:
        return 0

aqi22["CO_SubIndex"] = aqi22['CO_8hr_max'].apply(lambda x: get_CO_subindex(x))

In [ ]:
## O3 Sub-Index calculation
def get_O3_subindex(x):
    if x <= 50:
        return x * 50 / 50
    elif x <= 100:
        return 50 + (x - 50) * 50 / 50
    elif x <= 168:
        return 100 + (x - 100) * 100 / 68
    elif x <= 208:
        return 200 + (x - 168) * 100 / 40
    elif x <= 748:
        return 300 + (x - 208) * 100 / 539
    elif x > 748:
        return 400 + (x - 400) * 100 / 539
    else:
        return 0

aqi22["O3_SubIndex"] = aqi22['O3_8hr_max'].apply(lambda x: get_O3_subindex(x))

In [ ]:
## NH3 Sub-Index calculation
def get_NH3_subindex(x):
    if x <= 200:
        return x * 50 / 200
    elif x <= 400:
        return 50 + (x - 200) * 50 / 200
    elif x <= 800:
        return 100 + (x - 400) * 100 / 400
    elif x <= 1200:
        return 200 + (x - 800) * 100 / 400
    elif x <= 1800:
        return 300 + (x - 1200) * 100 / 600
    elif x > 1800:
        return 400 + (x - 1800) * 100 / 600
    else:
        return 0

aqi22["NH3_SubIndex"] = aqi22["NH3_24hr_avg"].apply(lambda x: get_NH3_subindex(x))

In [ ]:
## AQI bucketing
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN

aqi22["Checks"] = (aqi22["PM2.5_SubIndex"] > 0).astype(int) + \
                (aqi22["PM10_SubIndex"] > 0).astype(int) + \
                (aqi22["SO2_SubIndex"] > 0).astype(int) + \
                (aqi22["NO2_SubIndex"] > 0).astype(int) + \
                (aqi22["CO_SubIndex"] > 0).astype(int) + \
                (aqi22["NH3_SubIndex"] > 0).astype(int) + \
                (aqi22["O3_SubIndex"] > 0).astype(int)

aqi22["AQI_calculated"] = round(aqi22[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NO2_SubIndex",
                                "CO_SubIndex", "O3_SubIndex","NH3_SubIndex"]].max(axis = 1))
aqi22.loc[aqi22["PM2.5_SubIndex"] + aqi22["PM10_SubIndex"] <= 0, "AQI_calculated"] = np.NaN
aqi22.loc[aqi22.Checks < 3, "AQI_calculated"] = np.NaN

aqi22["AQI_bucket_calculated"] = aqi22["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
aqi22[~aqi22.AQI_calculated.isna()].head(13)

In [ ]:
aqi22['AQI_bucket_calculated'].value_counts()

In [ ]:
aqi22.to_csv(r"aqi.csv", index= False)

In [ ]:
aqi22 = pd.read_csv('/content/aqi.csv')

In [ ]:
df_predict= aqi22.copy()

In [ ]:
df

In [ ]:
df_predict2 = df_predict.copy()

In [ ]:
df_predict2 = df_predict2.drop(['Timestamp', 'End date', 'Year','name','Ozone (µg/m³)','SO2 (µg/m³)',
        'PM2.5_SubIndex','PM10_SubIndex', 'SO2_SubIndex','Weekend','WD (deg)', 'TOT-RF (mm)',
       'PM2.5_SubIndex', 'PM10_SubIndex','PM2.5 (µg/m³)', 'PM10 (µg/m³)', 'NO2 (µg/m³)',
       'CO (mg/m³)','NO (µg/m³)', 'NOx (ppb)', 'NH3 (µg/m³)',
       'Benzene (µg/m³)', 'Toluene (µg/m³)','NH3_SubIndex',
       'SO2_SubIndex',
       'NO2_SubIndex', 'CO_SubIndex', 'O3_SubIndex', 'Checks','AQI_bucket_calculated'], axis=1)